name: publish
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+.[0-9]+
jobs:
  ci:
    uses: ./.github/workflows/typing.yaml
  build:
    name: build distribution
    needs:
      - ci
    runs-on: ubuntu-latest
    steps:
      - name: set up python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9
      - name: install poetry
        uses: snok/install-poetry@v1
      - name: checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: check version and git tag
        run: |
          MWPFH=$(poetry show mwparserfromhell | grep "^\s*version" | tr -d ' ' | cut -d ':' -f 2)
          DATE=$(date -u +%y%m%d)
          INTENDED=$MWPFH.$DATE
          VERSION=$(poetry version --short)
          TAG=$(git describe --tags --abbrev=0)
          if [ $VERSION != $INTENDED ]; then
            echo version should be $INTENDED instead of $VERSION.
            exit 1
          elif [ $TAG != v$INTENDED ]; then
            echo tag should be v$INTENDED instead of $TAG.
            exit 1
          fi
      - name: build
        run: poetry build
      - name: upload dist artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist
  publish:
    environment: publish
    name: publish distribution
    needs:
      - build
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: download dist artifacts
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - name: github release with assets
        id: release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
      - name: publish to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
      - name: rollback release on failure
        if: failure() && steps.release.outputs.id != ''
        uses: author/action-rollback@1.0.4
        with:
          release_id: ${{ steps.release.outputs.id }}
